<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File"
      name="file"
      filename="${basedir}/log_${shortdate}.log"
      keepFileOpen ="true"
      openFileCacheTimeout = "30"
      ></target>
    <target name="console" xsi:type="ColoredConsole" detectConsoleAvailable="true" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>